require 'logger'

$rbconfig = {
    'host' => '127.0.0.1',
    'port' => 6667,
    'nick' => 'rb-test',
    'ircname' => "bishop's ruby bot v.2",

    'max-log-files' => 1000,
    'max-log-size' => 50 * 1024 * 1024,

    #'log-level' => Logger::WARN,
    'log-level' => Logger::INFO,
    #'log-level' => Logger::DEBUG,

    #'log-time-format' => '%a, %e %b %Y %T %Z', # human readable
    'log-time-format' => '%FT%T%z', # ISO 8601

    # comma-separated list of channels to join (type String)
    'join-channels'       => '#test',
    # comma-separated list of channel passwords (type String),
    # order must match 'join-channels'
    'channel-keys'        => nil,
    'no-monitor-channels' => %w(#private),

    'oper-name'   => 'rb',
    'oper-passwd' => 'plessy-ferguson',
    'oper-mode'   => '',

    'admin-passwd' => 'trambulation',

    'cmd_prefix' => '!',
    'msg-commands' => %w(register unregister addnick delnick login logout raw),
    'private-progs' => %w(dict forecast froogle pricewatch udict urban ud drink),

    'db-uri'     => 'sqlite://db/rubybot.db',

    'default-zip' => 80523
}
