#!/bin/bash

# setup the environment so the bot commands (run/bin/) can find their deps
ROOT_DIR=. #/home/bishop/rbot-test
export RUBYLIB=$ROOT_DIR/lib
export PYTHONPATH=$ROOT_DIR/lib/rubybot2
export TZ="America/Denver"

# switch to the run/ directory, where everything runs from
cd $ROOT_DIR/run

# and start the bot
$ROOT_DIR/bin/rubybot.rb

# or start it in screen so it doesn't take over your terminal
#exec screen -S rubybot -d -m $ROOT_DIR/bin/rubybot.rb
