%p Hello, #{@account[:name]}

%p
  View your:&emsp;&bull;
  %a{:href => url('/account/undelivered-nexts')} Undelivered nexts
  &emsp;&bull;
  %a{:href => url('/account/received-nexts')} Received nexts

%h2 Profile

%div
  - if @nicks.length > 0
  Nicks: #{@nicks.join(', ')}
  - else
    There are no nicks associated with your account.
  %br/
  Zip: #{@account[:zip]}

%p Change Password
