%form{action: '/logs', method: 'get'}
  %label{for: 'from'} From:
  %input{type: 'text', id: 'form', name: 'from', size: 10,
         value: @startd.strftime('%Y-%m-%d')}
  %label{for: 'to'} To:
  %input{type: 'text', id: 'to', name: 'to', size: 10,
         value: @endd && @endd.strftime('%Y-%m-%d')}
  %a{href: 'javascript:today();'} Today
  &emsp;
  %select{id: 'channel', name: 'channel'}
    - @channels.each do |chan|
      %option{value: chan}= chan
  &emsp;
  %input{type: 'radio', id: 'justurls', name: 'urls', value: 'urls', checked: 'checked'}
  %label{for: 'justurls'} URLs
  %input{type: 'radio', id: 'fulltext', name: 'urls', value: 'text'}
  %label{for: 'fulltext'} Everything
  &emsp;
  %input{type: 'text', id: 'search', name: 'search'}
  %input{type: 'submit', value: 'Search'}

%hr

#logs
  - @logs.each do |log|
    .entry= log

%hr

%a{href: '/logs/golast'} golast
