%h2 New Account

%form{action: '/account/create', method: 'post'}
  %p
    %label{for: 'name'} Name
    %br/
    %input{type: 'text', id: 'name', name: 'name', size: 16}
  %p
    %label{for: 'zip'} Zip
    %br/
    %input{type: 'text', id: 'zip', name: 'zip', size: 16}
  %p
    %label{for: 'password'} Password
    %br/
    %input{type: 'password', id: 'password', name: 'password', size: 16}
  %br/
  %input{type: 'submit', value: 'Create Account'}
