%p
  Database reports:
  &emsp;&bull;
  %a{href: url('/db/last')} Last statements
  &emsp;&bull;
  %a{href: url('/db/accounts')} Accounts
  &emsp;&bull;
  %a{href: url('/db/points')} Points
  &emsp;&bull;
  %a{href: url('/db/levels')} Levels
