%p
  Welcome to the Rubybot web interface.  You must
  %a{:href => url('/account')} login to your account
  to do anything.
%p Ask your administrator to create an account for you if you do not have one.