%p
  Welcome to the Rubybot web interface.  You are not a recognized user.  You may:
  &emsp;
  %a{:href => url('/account')} Login to your account
  &emsp;
  %a{:href => url('/account/create')} Create an account
