$base03:    #002b36
$base02:    #073642
$base01:    #586e75
$base00:    #657b83
$base0:     #839496
$base1:     #93a1a1
$base2:     #eee8d5
$base3:     #fdf6e3
$yellow:    #b58900
$orange:    #cb4b16
$red:       #dc322f
$magenta:   #d33682
$violet:    #6c71c4
$blue:      #268bd2
$cyan:      #2aa198
$green:     #859900

html
  margin: 0

body
  margin: 0
  margin-top: 0.5em
  color: $base00
  background-color: $base3

#navbar
  height: 24px
  margin: 12px 0 16px 0
  font-size: 12px
  background-color: $base2
  a
    text-decoration: none
  div
    float: left
    height: 20px
    padding: 4px 18px 0 18px
    margin-left: 12px
    color: $base3
    background-color: $base1
  div.lead
    margin: 0
    color: $base01
    background-color: $base2
    font-weight: bold
  div.current
    border-bottom: 4px solid $magenta

#content
  margin: 0 1em 1em 1em

a:link
  color: $blue

a:visited
  color: $yellow

a:hover
  color: $blue

a:active
  color: $blue

hr
  border: 0
  height: 2px
  color: $base1
  background-color: $base0

span.nick
  color: $yellow

.error
  margin: 0 1em 1em 1em
  padding: 1ex
  min-width: 20em
  max-width: 40em
  border: 2px solid $red
  color: $red

.notice
  margin: 0 1em 1em 1em
  padding: 1ex
  min-width: 20em
  max-width: 40em
  border: 2px solid $green
  color: $green

#logs
  font-family: Consolas,monospace
