%p #{@account[:name]}'s undelivered nexts:

%ol
  - @nexts.each_with_index do |(recips, message), i|
    %li
      #{recips}: #{message} &nbsp;
      %a{:href => url("/account/delete-next/#{i + 1}")} delete
